In [1]:
# list
# tuple
# dicts
# set

In [2]:
x = {'Shyam': ['9856445675', '014456554'], 'Hari': ['9855653455', '014456554']}

In [3]:
x = {'Shyam': ('9856445675', '014456554'), 'Hari': ('9855653455', '014456554')}

In [5]:
x = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    mobile = input("Enter mobile no=")
    landline = input("Enter landline no = ")
    x[name] = (mobile,landline)
x

Enter n = 2
Enter name = Ram
Enter mobile no=4645654645
Enter landline no = 34534
Enter name = Shyam
Enter mobile no=757575
Enter landline no = 534534

{'Ram': ('4645654645', '34534'), 'Shyam': ('757575', '534534')}

In [6]:
x = {1:{"Name":"Ram","Mobile":9845667656,"Landline":4456554},
    2:{"Name":"Ram","Mobile":9845667656,"Landline":4456554}}

In [7]:
x = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    mobile = input("Enter mobile no=")
    landline = input("Enter landline no = ")
    x[i] = {"Name":name,"Mobile":mobile,"Landline":landline}
x

Enter n = 2
Enter name = Ram
Enter mobile no=9867665676
Enter landline no = 4456554
Enter name = Shyam
Enter mobile no=9867665
Enter landline no = 4456554

{1: {'Name': 'Ram', 'Mobile': '9867665676', 'Landline': '4456554'},
 2: {'Name': 'Shyam', 'Mobile': '9867665', 'Landline': '4456554'}}

In [10]:
x[1]

{'Name': 'Ram', 'Mobile': '9867665676', 'Landline': '4456554'}

In [12]:
x[1]['Name']="Ram Prasad"
x

{1: {'Name': 'Ram Prasad', 'Mobile': '9867665676', 'Landline': '4456554'},
 2: {'Name': 'Shyam', 'Mobile': '9867665', 'Landline': '4456554'}}

In [14]:
x[1]['Mobile'] = [9867665676,98342423]

In [15]:
x

{1: {'Name': 'Ram Prasad',
  'Mobile': [9867665676, 98342423],
  'Landline': '4456554'},
 2: {'Name': 'Shyam', 'Mobile': '9867665', 'Landline': '4456554'}}

In [16]:
x = {1: {'Name': 'Ram Prasad', 'Mobile': '9867665676', 'Landline': '4456554'},
     2: {'Name': 'Shyam', 'Mobile': '9867665', 'Landline': '4456554'}}
x[3]={'Name':'Akash','Mobile':9866764567}
x

{1: {'Name': 'Ram Prasad', 'Mobile': '9867665676', 'Landline': '4456554'},
 2: {'Name': 'Shyam', 'Mobile': '9867665', 'Landline': '4456554'},
 3: {'Name': 'Akash', 'Mobile': 9866764567}}

In [18]:
x={}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    physics = int(input("Enter physics = "))
    chemistry = int(input("Enter chemistry ="))
    math = int(input("Enter math = "))
    english = int(input("Enter English = "))
    nepali = int(input("Enter Nepali="))
    total = sum([physics,chemistry,math,english,nepali])
    per = total/5
    x[i]={"Name":name,"Physics":physics,"Chemistry":chemistry,"Math":math,
          "English":english,"Nepali":nepali,"Total":total,"Percentege":per}
print(x)

Enter n = 2
Enter name = Shyam
Enter physics = 78
Enter chemistry =90
Enter math = 67
Enter English = 90
Enter Nepali=98
Enter name = Ram
Enter physics = 89
Enter chemistry =90
Enter math = 89
Enter English = 09
Enter Nepali=89
{1: {'Name': 'Shyam', 'Physics': 78, 'Chemistry': 90, 'Math': 67, 'English': 90, 'Nepali': 98, 'Total': 423, 'Percentege': 84.6}, 2: {'Name': 'Ram', 'Physics': 89, 'Chemistry': 90, 'Math': 89, 'English': 9, 'Nepali': 89, 'Total': 366, 'Percentege': 73.2}}

In [21]:
x[1]['Math']=87
x

{1: {'Name': 'Shyam',
  'Physics': 78,
  'Chemistry': 90,
  'Math': 87,
  'English': 90,
  'Nepali': 98,
  'Total': 423,
  'Percentege': 84.6},
 2: {'Name': 'Ram',
  'Physics': 89,
  'Chemistry': 90,
  'Math': 89,
  'English': 9,
  'Nepali': 89,
  'Total': 366,
  'Percentege': 73.2}}

In [25]:
bill = {}
total_price = 0
n = int(input("Enter how many items = "))
for i in range(1,n+1):
    product = input("Enter name = ")
    price = int(input("Enter unit price"))
    quantity = int(input("Enter quantity = "))
    item_total = price*quantity
    total_price =item_total+ total_price
    
    bill[i] = {"Product":product,"Price":price,"Quantity":quantity,"Total":item_total}
    
bill['Total Price']=total_price
bill['Vat'] = total_price*0.13
bill['All Total']=total_price*1.13
print(bill)

Enter how many items = 2
Enter name = hgh
Enter unit price230
Enter quantity = 3
Enter name = hjhgh
Enter unit price800
Enter quantity = 3
{1: {'Product': 'hgh', 'Price': 230, 'Quantity': 3, 'Total': 690}, 2: {'Product': 'hjhgh', 'Price': 800, 'Quantity': 3, 'Total': 2400}, 'Total Price': 3090, 'Vat': 401.7, 'All Total': 3491.7}

In [26]:
for i in bill.items():
    print(i)

(1, {'Product': 'hgh', 'Price': 230, 'Quantity': 3, 'Total': 690})
(2, {'Product': 'hjhgh', 'Price': 800, 'Quantity': 3, 'Total': 2400})
('Total Price', 3090)
('Vat', 401.7)
('All Total', 3491.7)