In [2]:
a = {'a':'Apple','b':'Ball'}
print(a)

{'a': 'Apple', 'b': 'Ball'}

In [3]:
# a = {<index>:<value>,<index>:<value>}

In [8]:
print(a['a'])
print(a['b'])

Apple
Ball

In [9]:
a = {'a':'Apple','b':'Ball'}
b = {'c':'Cat'}
a+b

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [10]:
a = {'a':'Apple','b':'Ball'}
a*2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [13]:
a = {'a':'Apple','b':'Ball','A':'Apple'}
print(a)

{'a': 'Apple', 'b': 'Ball', 'A': 'Apple'}

In [15]:
a = {}
a['a']='Apple'
a['b']='Ball'
a['c']='Cat'
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [19]:
x = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
x['A'] = "Ant"
x

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Ant'}

In [21]:
del x['A']
x

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [22]:
for i in x:
    print(i)

a
b
c

In [24]:
for i in x.values():
    print(i)

Apple
Ball
Cat

In [25]:
for i in x.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [28]:
x = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
y = x.pop('c')
print(x)
print(y)

{'a': 'Apple', 'b': 'Ball'}
Cat

In [27]:
for i,j in x.items():
    print(i,j)

a Apple
b Ball

In [29]:
x = {1:'Apple',2:'Ball',3:'Cat'}
y = {4:'Dog'}
x.update(y)
x

In [32]:
d = {}
d[9867556765]='Ram'
d[980564456]='Shyam'
d

{9867556765: 'Ram', 980564456: 'Shyam'}

In [34]:
d={}
n = int(input("Enter no of people"))
for i in range(n):
    name=input("Enter name=")
    phone = int(input("Enter phone ="))
    d[phone] = name
d

Enter no of people3
Enter name=Ram
Enter phone =981234567
Enter name=Shyam
Enter phone =9807654321
Enter name=Hari
Enter phone =9851234567

{981234567: 'Ram', 9807654321: 'Shyam', 9851234567: 'Hari'}

In [35]:
for i,j in d.items():
    print(i,j)

981234567 Ram
9807654321 Shyam
9851234567 Hari

In [38]:
phone = int(input("Enter phone = "))
d[phone]

Enter phone = 981234567

'Ram'

In [47]:
x = {981234567: 'Ram', 9807654321: 'Shyam', 9851234567: 'Ram'}

for i,j in x.items():
    if j =='Ram':
        print(i,j)

981234567 Ram
9851234567 Ram

In [49]:
x = {(981234567,): 'Ram', "9807654321": 'Shyam', "9851234567": 'Ram'}
x

{(981234567,): 'Ram', '9807654321': 'Shyam', '9851234567': 'Ram'}

In [50]:
x = {[981234567]: 'Ram', "9807654321": 'Shyam', "9851234567": 'Ram'}
x

TypeError: unhashable type: 'list'

In [51]:
x = {{981234567}: 'Ram', "9807654321": 'Shyam', "9851234567": 'Ram'}
x

TypeError: unhashable type: 'set'

In [53]:
# list inside dicts
x = {'Ram':[9807654321,'014434556'],'Shyam':[9851234567,'0144567']}
x

{'Ram': [9807654321, 14434556], 'Shyam': [9851234567, 144567]}

In [57]:
x['Ram']

[9807654321, 14434556]

In [58]:
x['Hari']=[9856445434,'015644534']
x

{'Ram': [9807654321, 14434556],
 'Shyam': [9851234567, 144567],
 'Hari': [9856445434, '015644534']}

In [59]:
x = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    mobile = input("Enter mobile no=")
    landline = input("Enter landline no = ")
    x[name] = [mobile,landline]
x

Enter n = 2
Enter name = Shyam
Enter mobile no=9856445675
Enter landline no = 014456554
Enter name = Hari
Enter mobile no=9855653455
Enter landline no = 014456554

{'Shyam': ['9856445675', '014456554'], 'Hari': ['9855653455', '014456554']}