In [1]:
a = open('class330.txt','x')
a.close()

In [4]:
a = open('class330.txt','r')
print(a.read())
a.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World

In [5]:
a = open('class330.txt','r')
b = a.read()
print(type(b),b)
a.close()

<class 'str'> 1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World

In [6]:
a = open('class330.txt','r')
b = a.read(10)
print(b)
a.close()

1.Hello Wo

In [10]:
a = open('class330.txt','r')
b = a.readline()
print(b)
a.close()

1.Hello World

In [12]:
a = open('class330.txt','w')
b = a.write('Hello World')
a.close()

In [1]:
try:
    a = open('class330.txt','w')
    n = int(input("Enter no of rows="))
    for i in range(n):
        name = input("Enter name =")
        age = int(input("Enter age = "))
        add = input("Enter addess = ")
        info = f"{name} {age} {add}\n"
        b = a.write(info)
    a.close()
except:
    print("Somme error occured")

Enter no of rows=3
Enter name =ram
Enter age = 78
Enter addess = Kathmandu
Enter name =Shyam
Enter age = 78
Enter addess = Bara
Enter name =Hari
Enter age = 78
Enter addess = Bara

In [16]:
a = open("class330.txt",'r')
print(a.read())
a.close()

Shyam 67 Bara
Ram 78 Bara

In [23]:
a = open('class330.txt','r')
x = 0
while x<=2:
    if x==2:
        print(a.readline())
    x=x+1
a.close()

Shyam 67 Bara

In [35]:
a = open('class330.txt','r')
b = a.read()
c = b.split('\n')
print(c[0:-1])
a.close()

['Shyam 67 Bara', 'Ram 78 Bara', 'Hari 67 Kathmandu']

In [36]:
info = c[0:-1]

In [37]:
info

['Shyam 67 Bara', 'Ram 78 Bara', 'Hari 67 Kathmandu']

In [41]:
final_output = []
n = len(info)
for i in range(n):
    split_info = info[i].split()
    print(split_info)
    final_output.append(split_info)
    
print(final_output)

['Shyam', '67', 'Bara']
['Ram', '78', 'Bara']
['Hari', '67', 'Kathmandu']
[['Shyam', '67', 'Bara'], ['Ram', '78', 'Bara'], ['Hari', '67', 'Kathmandu']]

In [43]:
a = open('class330.txt','r')
b = a.read()
c = b.split('\n')
for i in range(3):
    if '67' in c[i]:
        print(c[i])

a.close()

Shyam 67 Bara
Hari 67 Kathmandu

In [47]:
info = [['Shyam', '67', 'Bara'], ['Ram', '78', 'Bara'], ['Hari', '67', 'Kathmandu']]
n = len(info)
for i in range(n):
    if info[i][1] == '67':
        print(info[i])

['Shyam', '67', 'Bara']
['Hari', '67', 'Kathmandu']

In [48]:
info = [['Shyam', '67', 'Bara'], ['Ram', '78', 'Bara'], ['Hari', '67', 'Kathmandu']]
n = len(info)
for i in range(n):
    if int(info[i][1]) > int('67'):
        print(info[i])

['Ram', '78', 'Bara']

In [55]:
a = open('class330.txt','r')
b = a.read()
c = b.split('\n')
a.close()

a = open('class330.txt','w')
name = input("Enter which name to update = ")
replace = input("ENtre name to replace = ")
for i in range(len(c)):
    if name in c[i]:
        y = c[i].replace(name,replace)
        print(y)
        c[i] = y
a.close()
print(c)

Enter which name to update = Ram
ENtre name to replace = Ram Prasad
Ram Prasad 78 Bara
['Shyam 67 Bara', 'Ram Prasad 78 Bara', 'Hari 67 Kathmandu', '']

In [61]:
a = open('class330.txt','r')
b = a.read()
c = b.split('\n')
print(c)
a.close()

a = open('class330.txt','w')
name = input("Enter which name to update = ")
replace = input("ENtre name to replace = ")

for i in range(len(c)):
    if name in c[i]:
        x = c[i]
        y = c[i].replace(name,replace)
        print(y)
        z = b.replace(x,y)
        print(z)
a.write(z)
a.close()
# print(z)

['Ram 45 bara', 'Shyam 89 Bara', 'Hari 56 Kathmandu', '']
Enter which name to update = Ram
ENtre name to replace = Ram Prasad
Ram Prasad 45 bara
Ram Prasad 45 bara
Shyam 89 Bara
Hari 56 Kathmandu

In [5]:
a = open('class330.txt','r')
b = a.read()
c = b.split('\n')
print(c)
a.close()

a = open('class330.txt','w')
name = input("Enter which name to update = ")
replace = input("ENtre name to replace = ")

for i in range(len(c)):
    if name in c[i]:
        x = c[i]
        y = c[i].replace(name,replace)
        print(y)
        z = b.replace(x,y)
        print(z)
        a.write(y)
a.close()
print(y)

['Ram 45 bara']
Enter which name to update = Ram
ENtre name to replace = Ram Prasad
Ram Prasad 45 bara
Ram Prasad 45 bara
Ram Prasad 45 bara

In [4]:
a = open('class330.txt','r')
b = a.read()
c = b.split('\n')
print(c)
a.close()

['Sham Prasad 45 bara', 'Sham Prasad 45 bara', 'Sham Prasad 45 bara']

In [5]:
a = open('class330.txt','w')
name = input("Enter which name to update = ")
replace = input("ENtre name to replace = ")

for i in range(len(c)):
    if name in c[i]:
        x = c[i]
        y = c[i].replace(name,replace)
        print(y)
        z = b.replace(x,y)
        print(z)
    a.write(z)
    break
a.close()
print(z)

Enter which name to update = Sham
ENtre name to replace = Ram
Ram Prasad 45 bara
Ram Prasad 45 bara
Ram Prasad 45 bara
Ram Prasad 45 bara
Ram Prasad 45 bara
Ram Prasad 45 bara
Ram Prasad 45 bara

In [6]:
import os
os.remove('untitled.txt')

In [8]:
import shutil as s
s.copy('class330.txt','new')

'new'

In [12]:
import shutil as s
s.copytree('f','news/')

'news/'

In [13]:
import shutil as s
s.move('f','news1/')

'news1/'

In [15]:
import os
os.rename('news1','news2')