In [1]:
a = [[],[],[],[]]
type(a)

list

In [2]:
a = [[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
type(a)

list

In [8]:
a = [[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
a[1]

[4, 5, 6]

In [7]:
a[1][0]

4

In [11]:
a = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name =")
    age = int(input("Enter = age = "))
    add = input("Enter address = ")
    b = [i,name,age,add]
    a.append(b)
print(a)

Enter n = 2
Enter name =Ram
Enter = age = 56
Enter address = Kathmandu
Enter name =Shyam
Enter = age = 78
Enter address = Patan
[[1, 'Ram', 56, 'Kathmandu'], [2, 'Shyam', 78, 'Patan']]

In [31]:
roll = int(input("Enter roll ="))
x = a[roll-1]
x

Enter roll =2

[2, 'Shyam Prasad', 78, 'Patan']

In [38]:
a = [[1, 'Ram', 56, 'Kathmandu'], [2, 'Shyam', 78, 'Patan']]

In [32]:
x[1]='Shyam Prasad Karki'

In [36]:
x

[2, 'Shyam Prasad Karki', 78, 'Patan']

In [37]:
a

[[2, 'Shyam Prasad Karki', 78, 'Patan']]

In [39]:
del a[0][1]
a

[[1, 56, 'Kathmandu'], [2, 'Shyam', 78, 'Patan']]

In [40]:
a.remove([1, 56, 'Kathmandu'])
a

[[2, 'Shyam', 78, 'Patan']]

In [41]:
#Value entry
s = ""
n = int(input("No of rows = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age "))
    add = input("Enter add = ")
    output = f"{name} {age} {add}\n"
    s = s+output
print(s)

No of rows = 2
Enter name = ram
Enter age 56
Enter add = Bara
Enter name = Shyam
Enter age 67
Enter add = Patan
ram 56 Bara
Shyam 67 Patan

In [43]:
output = s.split('\n')
output = output[0:-1]
output

['ram 56 Bara', 'Shyam 67 Patan']

In [44]:
final =[]
l = len(output)
for i in range(l):
    f = output[i].split()
    final.append(f)
print(final)

[['ram', '56', 'Bara'], ['Shyam', '67', 'Patan']]

In [45]:
a = []
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name =")
    physics = int(input("Enter physics marks"))
    chemistry = int(input("Enter chemistry marks"))
    math = int(input("Enter maths marks"))
    english = int(input("Enter english marks"))
    nepali = int(input("Enter nepali marks"))
    total = sum([physics,chemistry,math,english,nepali])
    per = total/5
   
    b = [i,name,physics,chemistry,math,english,nepali,total,per]
    a.append(b)
print(a)

Enter n = 2
Enter name =Shyam
Enter physics marks67
Enter chemistry marks90
Enter maths marks97
Enter english marks89
Enter nepali marks89
Enter name =Hari
Enter physics marks89
Enter chemistry marks78
Enter maths marks67
Enter english marks90
Enter nepali marks78
[[1, 'Shyam', 67, 90, 97, 89, 89, 432, 86.4], [2, 'Hari', 89, 78, 67, 90, 78, 402, 80.4]]

In [46]:
for i in a:
    print(i)

[1, 'Shyam', 67, 90, 97, 89, 89, 432, 86.4]
[2, 'Hari', 89, 78, 67, 90, 78, 402, 80.4]

In [54]:
count=0
name = input("Enter name = ")
for i in a:
    if name in i:
        print("Yes")
        print(i)
        print(a.index(i))
        count+=1

Enter name = Shyam
Yes
[1, 'Shyam', 67, 90, 97, 89, 89, 432, 86.4]
0

In [53]:
count

1

In [59]:
x = [[1,2,3]]
y = [[[4,5,6]]]
z = x+y
z

[[1, 2, 3], [[4, 5, 6]]]

In [57]:
len(z)

4

In [61]:
x = [1, 'Shyam', [23,67], 90, 97, 89, 89, 432, 86.4]
x[2][0]=30
x

[1, 'Shyam', [30, 67], 90, 97, 89, 89, 432, 86.4]