In [2]:
a = [1,2,3,4,5,6,7,8,9]
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [3]:
len(a)

9

In [4]:
b = ['Apple','Ball','Cat','Dog']
len(b)

4

In [5]:
b[0]

'Apple'

In [7]:
b[-1]

'Dog'

In [8]:
b = ['Apple','Ball','Cat','Dog']
c = ['Fish']
b+c

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [9]:
b = ['Apple','Ball','Cat','Dog']
c = ['Fish']
c+b

['Fish', 'Apple', 'Ball', 'Cat', 'Dog']

In [10]:
x =['Fish', 'Apple', 'Ball', 'Cat', 'Dog']
y = ['Fish']
x+y

['Fish', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [11]:
# operations in list
x =['Fish', 'Apple', 'Ball', 'Cat', 'Dog']
y = ['Fish']
x+y

['Fish', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [12]:
y = ['Fish']
y*3

['Fish', 'Fish', 'Fish']

In [13]:
y = [1,2,3,4,5]
y*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [14]:
y = list("Hello")
y

['H', 'e', 'l', 'l', 'o']

In [5]:
#Creating List
result = []
n = int(input("Enter n ="))
for i in range(n):
    a = input("ENter name = ")
    result = result+[a]
print(result)

Enter n =3
ENter name = Ram
ENter name = Shyam
ENter name = Hari
['Ram', 'Shyam', 'Hari']

In [6]:
#Reading value
for i in result:
    print(i)

Ram
Shyam
Hari

In [24]:
x = ['Ram', 'Shyam', 'Hari']
x[0]='ram'
x

['ram', 'Shyam', 'Hari']

In [25]:
del x[1]
x

['ram', 'Hari']

In [9]:
a = ["Ram"]
b = [23]
c = ['Kathmandu']
a+b+c

['Ram', 23, 'Kathmandu']

In [11]:
#Value entry
s = ""
n = int(input("No of rows = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age "))
    add = input("Enter add = ")
    output = f"{name} {age} {add}\n"
    s = s+output
print(s)

No of rows = 2
Enter name = Ram
Enter age 45
Enter add = Kathmandu
Enter name = Shyam
Enter age 34
Enter add = Bara
Ram 45 Kathmandu
Shyam 34 Bara

In [15]:
y = s.split('\n')
y

['Ram 45 Kathmandu', 'Shyam 34 Bara', '']

In [18]:
z = y[0].split()

['Ram', '45', 'Kathmandu']

In [ ]:
name = z[0]
age = z[1]
add = z[2]

In [39]:
#Value entry
s = ""
n = int(input("No of rows = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age "))
    add = input("Enter add = ")
    output = f"{name} {age} {add}\n"
    s = s+output
print(s)

No of rows = 2
Enter name = Ram
Enter age 45
Enter add = Kathmandu
Enter name = Shyam
Enter age 34
Enter add = Bara
Ram 45 Kathmandu
Shyam 34 Bara

In [40]:
y = s.split('\n')
print(y)

['Ram 45 Kathmandu', 'Shyam 34 Bara', '']

In [41]:
x = y[0]
x.split()

['Ram', '45', 'Kathmandu']

In [43]:
i = int(input("Enter i = "))
z = y[i].split()
print(z)
# name = z[0]
# age = z[1]
# add = z[2]
# print("the info is ",name,age,add)

Enter i = 1
['Shyam', '34', 'Bara']

In [35]:
x = ['Ram 56 Kathmandu', 'Shyam 56 Patan', '']
type(x[0])

str

In [37]:
y = x[0]
y.split()

['Ram', '56', 'Kathmandu']

In [44]:
# search count
a = ['Ram','Shyam','Ram','Hari']
if 'Ram' in a:
    print("Yes")

Yes

In [46]:
a = ['Ram','Shyam','Ram','Hari']
if 'Ram' in a:
    print("Yes",a.count('Ram'))
else:
    print("No")

Yes 2

In [48]:
#Creating List
result = []
n = int(input("Enter n ="))
for i in range(n):
    a = int(input("ENter a = "))
    result = result+[a]
print(result)
print("The min value is=",min(result))
print("The max value is=",max(result))
print("The sum value is=",sum(result))
print("The average value is=",sum(result)/n)

Enter n =5
ENter a = 23
ENter a = 65
ENter a = 243
ENter a = 7
ENter a = 3
[23, 65, 243, 7, 3]
The min value is= 3
The max value is= 243
The sum value is= 341
The average value is= 68.2

In [49]:
# sorting()
a = [43,23,567,35,768,43]
b = ['zebra','Xray','apple','1Ball','.cat']
a.sort()

In [50]:
a

[23, 35, 43, 43, 567, 768]

In [51]:
a.reverse()

In [52]:
a

[768, 567, 43, 43, 35, 23]

In [53]:
b.sort()
b

['.cat', '1Ball', 'Xray', 'apple', 'zebra']

In [54]:
a = [43,23,567,35,768,43]
a.sort()
a

[23, 35, 43, 43, 567, 768]

In [15]:
a = [43,23,567,35,768,43]
b = sorted(a)
print(b)
a

[23, 35, 43, 43, 567, 768]

[43, 23, 567, 35, 768, 43]

In [59]:
result = []
n = int(input("Enter n"))
for i in range(n):
    fruits = input('Enter fruits name ')
    result = result + [fruits]
a = sorted(result)
print(a)

Enter n3
Enter fruits name ffgdfgdf
Enter fruits name xfdgdf
Enter fruits name asdsdsfdsf
['asdsdsfdsf', 'ffgdfgdf', 'xfdgdf']

In [58]:
result = []
n = int(input("Enter n"))
for i in range(n):
    fruits = input('Enter fruits name ')
    result = result + [fruits]
    result.sort()
print(result)

Enter n3
Enter fruits name hdgdfgdf
Enter fruits name cgdgdfg
Enter fruits name asdsfsdf
['asdsfsdf', 'cgdgdfg', 'hdgdfgdf']

In [3]:
# append,remove,insert,clear
x = []
a = 'Apple'
b = 'Ball'
x.append(a)
x.append(b)
x

['Apple', 'Ball']

In [4]:
x = ['Apple', 'Ball']
x.insert(0,'Ant')
x

['Ant', 'Apple', 'Ball']

In [5]:
x = ['Apple', 'Ball']
x[0]='Ant'
x

['Ant', 'Ball']

In [7]:
x = ['Ant', 'Apple', 'Ball']
x.insert(-1,'A')
x

['Ant', 'Apple', 'A', 'Ball']

In [8]:
x = ['Ant', 'Apple', 'A', 'Ball']
del x[0]
x

['Apple', 'A', 'Ball']

In [9]:
x = ['Ant', 'Apple', 'A', 'Ball']
x.remove('Apple')

In [10]:
x

['Ant', 'A', 'Ball']

In [12]:
x = ['Ant', 'Apple', 'A', 'Ball']
b = x[1]
x.remove(b)
x

['Ant', 'A', 'Ball']

In [13]:
x = ['Ant', 'Apple', 'A', 'Ball']
b = 'Apple'
x.remove(b)
x

['Ant', 'A', 'Ball']

In [ ]:
b = input("Enter value = ")
x = ['Ant', 'Apple', 'A', 'Ball']
x.remove(b)
x

In [16]:
result = []
n = int(input("Enter n"))
for i in range(n):
    fruits = input('Enter fruits name ')
    result.append(fruits)
a = sorted(result)
print(a)

Enter n3
Enter fruits name Apple
Enter fruits name Ball
Enter fruits name cat
['Apple', 'Ball', 'cat']

In [2]:
def cal(x):
    v,z = x
    print(v*z)

l = int(input("Enter l ="))
b = int(input("Enter b = "))
x = [l,b]
cal(x)

Enter l =6
Enter b = 8
48

In [ ]:
def cal(x):
    l = x[0]
    b = x[1]
    print(l*b)

l = int(input("Enter l ="))
b = int(input("Enter b = "))
x = [l,b]
cal(x)

In [3]:
# index()
x = ['Apple', 'Ball', 'cat']
x.index('cat')

2

In [5]:
x = ['Apple', 'Ball', 'cat']
del x
x

NameError: name 'x' is not defined

In [6]:
x = ['Apple', 'Ball', 'cat']
x.clear()

In [7]:
x

[]

In [8]:
# index()
x = ['Apple', 'Ball', 'cat']
y = x.index('cat')
del x[y]
x

['Apple', 'Ball']

In [10]:
# duplicate value operation
x = ['Apple','Ball','Apple','Cat','Dog']
y = input("ENter value = ")
n = x.count(y)
for i in range(n):
    x.remove(y)
    print(x)
print(x)

ENter value = Apple
['Ball', 'Apple', 'Cat', 'Dog']
['Ball', 'Cat', 'Dog']
['Ball', 'Cat', 'Dog']

In [11]:
# duplicate value operation
x = ['Apple','Ball','Apple','Cat','Dog']
y = input("ENter value = ")
n = x.count(y)
for i in range(n-1):
    x.remove(y)
    print(x)
print(x)

ENter value = Apple
['Ball', 'Apple', 'Cat', 'Dog']
['Ball', 'Apple', 'Cat', 'Dog']

In [17]:
# duplicate value operation
x = ['Apple','Ball','Apple','Cat','Dog']
y = input("ENter value = ")
n = len(x)
for i in range(n):
    if x[i]==y:
#         print(x.index(y))
        print(i)

ENter value = Cat
3

In [21]:
# duplicate value operation
x = ['Apple','Ball','Apple','Cat','Dog']
y = input("ENter value = ")
n = len(x)
for i in x:
    if i==y:
        x.remove(i)
x

ENter value = Apple

['Ball', 'Cat', 'Dog']

In [31]:
# duplicate value operation
x = ['Apple','Ball','Apple','Cat','Dog']
y = input("ENter value = ")
n = x.count(y)
print(n)
for i in range(n):
    if x[i]==y:
        x.remove(x[i])
   
        print(x)

ENter value = Apple
2
['Ball', 'Apple', 'Cat', 'Dog']
['Ball', 'Cat', 'Dog']

In [4]:
x = ['Ball', 'Apple', 'Cat', 'Dog']
a = x.pop(1)

In [5]:
x

['Ball', 'Cat', 'Dog']

In [6]:
a

'Apple'