In [1]:
# loops in python

In [3]:
#for
#range()
for x in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [4]:
for x in range(5):
    print(x)

0
1
2
3
4

In [5]:
for x in range(5):
    print(x,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [6]:
for x in range(1,5):
    print(x,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [7]:
for x in range(1,10,2):
    print(x,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [9]:
for x in range(1,11):
    print(5*x)

5
10
15
20
25
30
35
40
45
50

In [10]:
n = int(input("ENter value of n = "))
for x in range(1,11):
    print(n,"*",x,"=",n*x)

ENter value of n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [12]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    no = int(input("Enter no = "))
    s = s+no
print("The sum is", s)
print("The avg is ",s/n)

Enter n = 5
Enter no = 34
Enter no = 456
Enter no = 234
Enter no = 65
Enter no = 23
The sum is 812
The avg is  162.4

In [24]:
for i in range(5):
    print("-"*i)

-
--
---
----

In [21]:
a = "Hello world"*2
a

'Hello worldHello world'

In [26]:
for i in range(5,0,-1):
    print(i,end=" ")

5 4 3 2 1

In [16]:
for i in range(5,0,-1):
    print("*"*i)

*****
****
***
**
*

In [17]:
a = "python"
for i in a:
    print(i)

p
y
t
h
o
n

In [18]:
a = ("Python","C","C++")
for i in a:
    print(i)

Python
C
C++

In [12]:
for i in range(1,5):
    print(" "*i,"*"*i)
print("*")
for j in range(1,6):
    print("*"*j)

  *
   **
    ***
     ****
*
*
**
***
****
*****

In [2]:
info = ""
n = int(input("Enter the no of students = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    address = input("Enter address =")
    info = info +" "+ name+" " + age + " "+address+"\n"
    
print(info)

Enter the no of students = 2
Enter name = kjhjk
Enter age = 786
Enter address =jjkh
Enter name = jjk
Enter age = 87
Enter address =kjlk
jjk 87 kjlk

In [36]:
b = ""
a = "Apple"
b = b+a
b

'Apple'

In [3]:
# # While loop
# <constant>
# while <condition>:
#     <operation>
#     <increment of decrement>

In [8]:
a = 0
while a<10:
    print(a,"Hello world")
    a = a+1
#     a+=1

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world

In [2]:
a=1
n = int(input("ENter value of n = "))
while a<=10:
    print(n,"*",a,"=",n*a)
    a+=1

ENter value of n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [6]:
s = 0
x = 0
n = int(input("Enter n = "))
while x<n:
    no = int(input("Enter no = "))
    s = s+no
    x+=1
print("The sum is", s)

Enter n = 2
Enter no = 76
Enter no = 87
The sum is 163

In [1]:
# Control statement
# break()
# continue()
# pass()

In [3]:
a = "Python is good."
for i in a:
    if i !='o':
        print(i)
    else:
        break

P
y
t
h

In [5]:
a = int(input("Enter the value of a = "))
while a>0:
    print("this is positive value ")
    break

Enter the value of a = -1

In [7]:
a = "Python"
for i in a:
    if i !='o':
        print(i)
    continue

P
y
t
h
n

In [9]:
for i in range(1,51):
    if i%5 == 0:
        print(i)

ENter value of n = 5
5
10
15
20
25
30
35
40
45
50

In [11]:
a = ('Apple','Ball','cat','dog')
for i in a:
    if i !='cat':
        print(i)
        
    continue

Apple
Ball
dog

In [13]:
a = ('Apple','Ball','cat','dog')
for i in a:
    if i !='cat':
        print(i)
    else:
        break

Apple
Ball

In [19]:
n = int(input("ENter value of n = "))
for i in range(1,51):
    if i%n == 0:
        print(i)
    else:
        continue

ENter value of n = 5
5
10
15
20
25
30
35
40
45
50

In [24]:
def x():
    pass

x()

In [25]:
a = 10
b =20
if a>b:
    pass
else:
    pass

In [29]:
a = ('Apple','Ball','cat','dog')
for i in a:
    if i !='cat':
        print(i)
        pass

Apple
Ball
dog

In [30]:
for i in range(5):
    print(i)
    pass

0
1
2
3
4