In [5]:
a = {1,2,3}
print(a)
print(type(a))

{1, 2, 3}
<class 'set'>

In [6]:
a={'Apple','Ball','Cat'}
print(a)

{'Ball', 'Apple', 'Cat'}

In [8]:
a = {1,1,2,2,3,3,4,4,5,5,5}
a

{1, 2, 3, 4, 5}

In [10]:
a = ['Apple','Apple','Ball','Ball','Cat']
b = set(a)
a = list(b)
a

['Ball', 'Apple', 'Cat']

In [12]:
a = {'1xray','apple','Apple','.zebra'}
a

{'.zebra', '1xray', 'Apple', 'apple'}

In [13]:
# no duplicate
# no indexing
# no order

In [14]:
a = {1,2,3}
b = {4,5,6}
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [15]:
a = {1,2,3}
b = {4,5,6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [18]:
a = {1,2,3}
b = {4,5,6}
b.union(a)

{1, 2, 3, 4, 5, 6}

In [24]:
a = {1,2,3,6}
b = {4,5,6}
a.intersection(b)

{6}

In [22]:
a = {}
type(a)

dict

In [23]:
a = set()
a

set()

In [35]:
a = {1,2,3,6}
b = {4,5,6}
c = {3,2,1}
print(a.union(b,c))
print(a)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 6}

In [30]:
a = {1,2,3,6}
b = {4,5,6}
c = {3,2,1,6}
b.intersection(a,c)

{6}

In [36]:
a = {1,2,3,6}
b = {4,5,6}
b.update(a)

In [38]:
b

{1, 2, 3, 4, 5, 6}

In [42]:
a = {'Apple','Ball','Cat'}
b =2
a.add(b)
a

{2, 'Apple', 'Ball', 'Cat'}

In [43]:
a = set('sadasd')
a

{'a', 'd', 's'}

In [45]:
a = set()
n = int(input("Enter n = "))
for i in range(n):
    b = input('Enter name = ')
    a.add(b)
    
a

Enter n = 4
Enter name = Apple
Enter name = Apple
Enter name = Ball
Enter name = Ball

{'Apple', 'Ball'}

In [47]:
a = {{1,3}}

TypeError: unhashable type: 'set'

In [48]:
a = {[1,2,3]}

TypeError: unhashable type: 'list'

In [51]:
a = {(1,2,3),(4,5,6),(7,8,9)}

In [52]:
a = [{},{}]

In [53]:
a = set()
n = int(input("Enter n = "))
for i in range(n):
    name = input('Enter name = ')
    age = input('Enter age =')
    add = input('Enter address =')
    info = (name,age,add)
    a.add(info)
    
a

Enter n = 2
Enter name = Ram
Enter age =78
Enter address =Kathmandu
Enter name = Shyam
Enter age =89
Enter address =Bara

{('Ram', '78', 'Kathmandu'), ('Shyam', '89', 'Bara')}

In [55]:
x = {('Ram', '78', 'Kathmandu'), ('Ram', '78', 'kathmandu'),('Shyam', '89', 'Bara')}
x

{('Ram', '78', 'Kathmandu'),
 ('Ram', '78', 'kathmandu'),
 ('Shyam', '89', 'Bara')}

In [56]:
# a-b
a = {1,2,3,6}
b = {4,5,6}
a.difference(b)

{1, 2, 3}

In [57]:
a = {1,2,3,6}
b = {4,5,6}
b.difference(a)

{4, 5}

In [58]:
# subset
# superset
# joint or disjoint
# (All returns boolen value)

In [60]:
a = {1,2,3,6}
b = {1,2,3,4,5,6}
a.issubset(b)

True

In [61]:
a = {1,2,3,6}
b = {1,2,3,4,5,6}
b.issubset(a)

False

In [63]:
a ={1,2,3}
b = {1,4,5}
d= a.union(b)
c = {1,2,3,4,5,6,7,8,9,10}
c.issuperset(d)

True