In [1]:
a = (1,2,3)
print(a)

(1, 2, 3)

In [2]:
print(type(a))

<class 'tuple'>

In [3]:
i = (1,2,3)
i*2

(1, 2, 3, 1, 2, 3)

In [4]:
a = (1,2,3)
b = (3,4)
a+b

(1, 2, 3, 3, 4)

In [6]:
a[-1]

3

In [7]:
a = (1, 2, 3, 3, 4)
a.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
del a[3]

TypeError: 'tuple' object doesn't support item deletion

In [10]:
a = ('Apple',)
type(a)

tuple

In [11]:
a = (1, 2, 3, 3, 4)
a+(5,)

(1, 2, 3, 3, 4, 5)

In [12]:
a = ()
type(a)

tuple

In [13]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a+(name,)
print(a)

Enter n = 3
Enter name = Apple
Enter name = Ball
Enter name = Cat
('Apple', 'Ball', 'Cat')

In [14]:
x = ('Apple', 'Ball', 'Cat')
x[0]='Dog'

TypeError: 'tuple' object does not support item assignment

In [15]:
a = ('Ram','Shyam','Ram','Hari')
if 'Ram' in a:
    print("Yes",a.count('Ram'))
else:
    print("No")

Yes 2

In [17]:
#Creating List
result = ()
n = int(input("Enter n ="))
for i in range(n):
    a = int(input("ENter a = "))
    result = result+(a,)
print(result)
print("The min value is=",min(result))
print("The max value is=",max(result))
print("The sum value is=",sum(result))
print("The average value is=",sum(result)/n)

Enter n =3
ENter a = 768
ENter a = 54
ENter a = 98
(768, 54, 98)
The min value is= 54
The max value is= 768
The sum value is= 920
The average value is= 306.6666666666667

In [18]:
# sorting()
a = (43,23,567,35,768,43)
b = ('zebra','Xray','apple','1Ball','.cat')
a.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [19]:
sorted(a)

[23, 35, 43, 43, 567, 768]

In [20]:
def cal(x):
    v,z = x
    print(v*z)

l = int(input("Enter l ="))
b = int(input("Enter b = "))
x = (l,b)
cal(x)

Enter l =5
Enter b = 9
45

In [ ]:
# Data type conversion(tuple to list)

In [23]:
b = ('zebra','Xray','apple','1Ball','.cat')
b= list(b)
del b[0]

In [25]:
b = tuple(b)
b

('Xray', 'apple', '1Ball', '.cat')

In [26]:
# tuple inside tuple
a = ((),(),())

In [27]:
# list inside touple

In [28]:
a = ([],[],[])

In [1]:
# tuple inside list
[(),(),()]

[(), (), ()]

In [2]:
a = ((1,2,3),(4,5,6),(7,8,9))
len(a)

3

In [5]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = ((1,2,3),)
a+b

((1, 2, 3), (4, 5, 6), (7, 8, 9), (1, 2, 3))

In [6]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    
    a = a+((name,age,add),)
print(a)

Enter n = 2
Enter name = Ram
Enter age = 67
Enter address = Kathmandu
Enter name = Shyam
Enter age = 78
Enter address = Bara
(('Ram', 67, 'Kathmandu'), ('Shyam', 78, 'Bara'))

In [21]:
a = (('Ram', 67, 'Kathmandu'), ('Shyam', 78, 'Bara'))
b = list(a)

In [22]:
c = ('Hari',45,'Kathmandu')
b.append(c)
b

[('Ram', 67, 'Kathmandu'), ('Shyam', 78, 'Bara'), ('Hari', 45, 'Kathmandu')]

In [23]:
b[0]

('Ram', 67, 'Kathmandu')

In [24]:
b[0]=('Ram Prasad',67,'Kathmandu')
b

[('Ram Prasad', 67, 'Kathmandu'),
 ('Shyam', 78, 'Bara'),
 ('Hari', 45, 'Kathmandu')]

In [25]:
del b[2]
b

[('Ram Prasad', 67, 'Kathmandu'), ('Shyam', 78, 'Bara')]

In [18]:
b = tuple(b)
b

(('Ram Prasad', 67, 'Kathmandu'),
 ('Shyam', 78, 'Bara'),
 ('Hari', 45, 'Kathmandu'))

In [33]:
x = (('Ram Prasad', 67, 'Kathmandu'),('Shyam', 78, 'Bara'),('Hari', 45, 'Kathmandu'),'Shyam')
n = len(x)
for i in range(n):
    if 'Shyam' in x[i]:
        print(x[i])

('Shyam', 78, 'Bara')
Shyam

In [34]:
x = (('Ram Prasad', 67, 'Kathmandu'),('Shyam', 78, 'Bara'),('Hari', 45, 'Kathmandu'),'Shyam')
name = input("Enter name = ").upper()
n = len(x)
for i in range(n):
    if name in x[i].upper():
        print(x[i])

Enter name = shyam

AttributeError: 'tuple' object has no attribute 'upper'

In [37]:
x = (('Ram Prasad', '67', 'Kathmandu'),('Shyam','78', 'Bara'),('Shyam', '45', 'Kathmandu'))
name = input("Enter name = ").upper()
n = len(x)

for i in range(n):
    for j in range(3):
        if name in x[i][j].upper():
            print(x[i])

Enter name = shyam
('Shyam', '78', 'Bara')
('Shyam', '45', 'Kathmandu')

In [41]:
z = []
x = (('Ram Prasad', '67', 'Kathmandu'),('Shyam','78', 'Bara'),('Shyam', '45', 'Kathmandu'))
x = list(x)
n = len(x)
for i in range(n):
    y = list(x[i])
    z.append(y)
z

[['Ram Prasad', '67', 'Kathmandu'],
 ['Shyam', '78', 'Bara'],
 ['Shyam', '45', 'Kathmandu']]

In [44]:
z = []
x = (('Ram Prasad', '67', 'Kathmandu'),('Shyam','78', 'Bara'),('Shyam', '45', 'Kathmandu'))
x = list(x)
n = len(x)
for i in range(n):
    y = list(x[i])
    z = z+[y]
z

[['Ram Prasad', '67', 'Kathmandu'],
 ['Shyam', '78', 'Bara'],
 ['Shyam', '45', 'Kathmandu']]

In [46]:
# list inside tuple
z = tuple(z)
z

(['Ram Prasad', '67', 'Kathmandu'],
 ['Shyam', '78', 'Bara'],
 ['Shyam', '45', 'Kathmandu'])

In [47]:
z[0][0]='Ram'
z

(['Ram', '67', 'Kathmandu'],
 ['Shyam', '78', 'Bara'],
 ['Shyam', '45', 'Kathmandu'])

In [50]:
z = (['Ram Prasad', '67', 'Kathmandu'],['Shyam', '78', 'Bara'],['Shyam', '45', 'Kathmandu'])
a = ['Nita',67,'Bara']
z+(a,)

(['Ram Prasad', '67', 'Kathmandu'],
 ['Shyam', '78', 'Bara'],
 ['Shyam', '45', 'Kathmandu'],
 ['Nita', 67, 'Bara'])

In [57]:
z = (['Ram Prasad', '67', 'Kathmandu'],['Shyam', '78', 'Bara'])
a = ['Nita','67','Bara']
y = list(z)
y.append(a)
tuple(y)

(['Ram Prasad', '67', 'Kathmandu'],
 ['Shyam', '78', 'Bara'],
 ['Nita', '67', 'Bara'])

In [59]:
# <id><name><date>
# ***
a = "1000aayus2019\n***sabin2020\n1010hari***"
print(a)

1000aayus2019
***sabin2020
1010hari***

In [65]:
#Value entry
s = ""
n = int(input("No of rows = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age "))
    add = input("Enter add = ")
    output = f"{name} {age} {add}\n"
    s = s+output
print(s)

No of rows = 2
Enter name = Ram
Enter age 45
Enter add = Bara
Enter name = Shyam
Enter age 89
Enter add = Kathmandu
Ram 45 Bara
Shyam 89 Kathmandu

In [67]:
r = s.split('\n')
t = r[0:-1]

In [68]:
t

['Ram 45 Bara', 'Shyam 89 Kathmandu']

In [70]:
output = []
for i in range(len(t)):
    u = t[i].split()
    print(u)
    output.append(u)
    print(output)
print(output)

['Ram', '45', 'Bara']
[['Ram', '45', 'Bara']]
['Shyam', '89', 'Kathmandu']
[['Ram', '45', 'Bara'], ['Shyam', '89', 'Kathmandu']]
[['Ram', '45', 'Bara'], ['Shyam', '89', 'Kathmandu']]